static filter=lfs diff=lfs merge=lfs -text
static/ECSU-Front.jpg filter=lfs diff=lfs merge=lfs -text
static/protected filter=lfs diff=lfs merge=lfs -text
static/room_database filter=lfs diff=lfs merge=lfs -text
static/societies filter=lfs diff=lfs merge=lfs -text
static/admin filter=lfs diff=lfs merge=lfs -text
static/includes filter=lfs diff=lfs merge=lfs -text
static/pages filter=lfs diff=lfs merge=lfs -text
static/treasurer filter=lfs diff=lfs merge=lfs -text
static/downloads filter=lfs diff=lfs merge=lfs -text
static/images filter=lfs diff=lfs merge=lfs -text
static/pdf filter=lfs diff=lfs merge=lfs -text
static/scripts filter=lfs diff=lfs merge=lfs -text
static/Sites filter=lfs diff=lfs merge=lfs -text
static/assets filter=lfs diff=lfs merge=lfs -text
static/prospective_students filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
