$mdc-theme-primary: #d926a5;
$mdc-theme-secondary: #d926a5;
$mdc-theme-background: #eceff1;
@import "@material/theme/mdc-theme";
@import '@material/drawer/mdc-drawer';
@import '@material/typography/mdc-typography';
@import "@material/layout-grid/mdc-layout-grid";
@import '@material/button/mdc-button';
@import '@material/fab/mdc-fab';
@import '@material/top-app-bar/mdc-top-app-bar';
@import "@material/list/mdc-list";
@import '@material/card/mdc-card';
@import '@material/card/mdc-card';
@import "~/assets/scss/vuetify.min.scss";


//Standard font
div{
  @extend .mdc-typography--body1;
}


//Pretty table defaults

td,
th {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d926a5;
  color: white;
}
table {
  width: 100%;
}
a {
  text-decoration: none;
}
hr{
  border: 1px solid #eceff1;
  width: 100%;
  border-radius: 24px;
}
table{
  width: 100%;
}



//Alias icon sizes

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


//Nice picture loading

.v-lazy-image {
  filter: blur(1px) saturate(0);
  transition: filter 1s;
}
/* purgecss ignore */
.v-lazy-image-loaded {
  filter: blur(0) saturate(1);
}

//Hide icons until loaded

.material-icons{
  visibility: hidden;
  overflow: hidden;
}

/* purgecss ignore */
.wf-active * .material-icons {
  visibility: visible;
}

.nuxt-progress{
  @extend .mdc-top-app-bar--fixed-adjust;
  margin-top: 1px;
  z-index: 5;
}