//@import url('https://fonts.googleapis.com/css?family=Lato');

/*
@font-face {
  font-family: 'Gotham-Bold';
  src: url("/fonts/Gotham-Bold.woff");
}
*/
//@import "/static/fonts/gotham-bold/stylesheet.css";

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/fonts/gotham-bold/gotham-bold-webfont.eot');
  src: url('/fonts/gotham-bold/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gotham-bold/gotham-bold-webfont.woff2') format('woff2'),
       url('/fonts/gotham-bold/gotham-bold-webfont.woff') format('woff'),
       url('/fonts/gotham-bold/gotham-bold-webfont.ttf') format('truetype'),
       url('/fonts/gotham-bold/gotham-bold-webfont.svg#webfontregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


$mdc-typography-font-family: unquote("'Lato', sans-serif");

$mdc-typography-styles-headline1: (
  font-family: unquote("'Gotham-Bold', sans-serif"),
  letter-spacing: -3pt,
);

$mdc-typography-styles-headline2: (
  font-family: unquote("'Gotham-Bold', sans-serif"),
  font-size: 3.25rem,
  line-height: 3.25rem,
  letter-spacing: -3pt,
);

$mdc-typography-styles-headline3: (
  font-family: unquote("'Gotham-Bold', sans-serif"),
  letter-spacing: -2pt,
);

$mdc-typography-styles-headline4: (
  font-family: unquote("'Gotham-Bold', sans-serif"),
  letter-spacing: -2pt,
);