ErrorDocument 404 /missing/index
<Files ".env">  
  Require all denied
</Files>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RedirectPermanent /pages/404.html /missing
RedirectPermanent /pages/about.html /info/about
RedirectPermanent /pages/academic_life.html /prospective/academic_life
RedirectPermanent /pages/access.html /blogs/access
RedirectPermanent /pages/accessibility.html /accessibility
RedirectPermanent /pages/access_officer.html /exec/access_officer
RedirectPermanent /pages/accom.html /prospective/accom
RedirectPermanent /pages/accommodation.html /info/accommodation
RedirectPermanent /pages/admissions.html /prospective/admissions
RedirectPermanent /pages/amnesty.html /societies/amnesty
RedirectPermanent /pages/athletics.html /societies/athletics
RedirectPermanent /pages/badminton.html /societies/badminton
RedirectPermanent /pages/bar.html /info/bar
RedirectPermanent /pages/boatclub.html /societies/boatclub
RedirectPermanent /pages/building_services_officer.html /exec/building_services_officer
RedirectPermanent /pages/careers.html /info/careers
RedirectPermanent /pages/charities.html /info/charities
RedirectPermanent /pages/chess.html /societies/chess
RedirectPermanent /pages/computing.html /info/computing
RedirectPermanent /pages/conditions.html /info/conditions
RedirectPermanent /pages/cricket.html /societies/cricket
RedirectPermanent /pages/cusu_support.html /info/cusu_support
RedirectPermanent /pages/disabilities.html /welfare/disabilities
RedirectPermanent /pages/disabilities_officer.html /exec/disabilities_officer
RedirectPermanent /pages/disabled.html /info/disabled
RedirectPermanent /pages/drugs_and_alcohol.html /welfare/drugs_and_alcohol
RedirectPermanent /pages/ecaps.html /societies/ecaps
RedirectPermanent /pages/ectfc.html /societies/ectfc
RedirectPermanent /pages/education_officer.html /exec/education_officer
RedirectPermanent /pages/ents.html /pages/ents
RedirectPermanent /pages/ents_coordinator.html /exec/ents_coordinator
RedirectPermanent /pages/erics.html /societies/erics
RedirectPermanent /pages/ethnic_experience.html /prospective/ethnic_experience
RedirectPermanent /pages/ethnic_officer.html /exec/ethnic_officer
RedirectPermanent /pages/exams.html /welfare/exams
RedirectPermanent /pages/exec.html /exec
RedirectPermanent /pages/feedback.html /feedback
RedirectPermanent /pages/female_resources.html /welfare/female_resources
RedirectPermanent /pages/female_welfare.html /exec/female_welfare
RedirectPermanent /pages/five.html /prospective/five
RedirectPermanent /pages/football.html /societies/football
RedirectPermanent /pages/formal.html /info/formal
RedirectPermanent /pages/freshers.html /info/freshers
RedirectPermanent /pages/glossary.html /prospective/glossary
RedirectPermanent /pages/green.html /exec/green
RedirectPermanent /pages/green_ducks.html /societies/green_ducks
RedirectPermanent /pages/green_officer.html /pages/green_officer
RedirectPermanent /pages/gym.html /info/gym
RedirectPermanent /pages/head-treasurer.html /exec/head-treasurer
RedirectPermanent /pages/health.html /welfare/health
RedirectPermanent /pages/hockey.html /societies/hockey
RedirectPermanent /pages/insurance.html /info/insurance
RedirectPermanent /pages/international%20freshers.html /info/international%20freshers
RedirectPermanent /pages/internationals.html /info/internationals
RedirectPermanent /pages/international_officer.html /exec/international_officer
RedirectPermanent /pages/interviews.html /prospective/interviews
RedirectPermanent /pages/j_lister.html /posts/j_lister
RedirectPermanent /pages/k_craven.html /posts/k_craven
RedirectPermanent /pages/laundry.html /info/laundry
RedirectPermanent /pages/lgbt.html /welfare/lgbt
RedirectPermanent /pages/lgbt_officer.html /exec/lgbt_officer
RedirectPermanent /pages/l_paparounas.html /posts/l_paparounas
RedirectPermanent /pages/l_schubert.html /posts/l_schubert
RedirectPermanent /pages/l_smith.html /posts/l_smith
RedirectPermanent /pages/male_welfare.html /exec/male_welfare
RedirectPermanent /pages/map.html /info/map
RedirectPermanent /pages/mountaineering.html /%20/mountaineering
RedirectPermanent /pages/music_society.html /%20/music_society
RedirectPermanent /pages/m_bradley.html /posts/m_bradley
RedirectPermanent /pages/m_clifford.html /posts/m_clifford
RedirectPermanent /pages/netball.html /%20/netball
RedirectPermanent /pages/news.html /posts/news
RedirectPermanent /pages/on.html /whatson
RedirectPermanent /pages/open_meetings.html /info/open_meetings
RedirectPermanent /pages/parents.html /info/parents
RedirectPermanent /pages/president.html /exec/president
RedirectPermanent /pages/privacy_policy.html /cookies
RedirectPermanent /pages/prospective.html /prospective
RedirectPermanent /pages/p_warren.html /posts/p_warren
RedirectPermanent /pages/questions.html /prospective/questions
RedirectPermanent /pages/reds.html /societies/reds
RedirectPermanent /pages/rents.html /info/rents
RedirectPermanent /pages/request.html /feedback
RedirectPermanent /pages/roar.html /info/roar
RedirectPermanent /pages/roar_editor.html /exec/roar_editor
RedirectPermanent /pages/room_booking.html /info/room_booking
RedirectPermanent /pages/rugby.html /societies/rugby
RedirectPermanent /pages/safe.html /societies/safe
RedirectPermanent /pages/safety.html /welfare/safety
RedirectPermanent /pages/secretary.html /exec/secretary
RedirectPermanent /pages/shop.html /info/shop
RedirectPermanent /pages/shop_manager.html /exec/shop_manager
RedirectPermanent /pages/ski_trip.html /societies/ski_trip
RedirectPermanent /pages/sleep.html /welfare/sleep
RedirectPermanent /pages/social.html /prospectie/social
RedirectPermanent /pages/societies.html /societies
RedirectPermanent /pages/society_funding.html /info/society_funding
RedirectPermanent /pages/squash_soc.html /societies/squash_soc
RedirectPermanent /pages/tennis.html /societies/tennis
RedirectPermanent /pages/treasurer.html /exec/treasurer
RedirectPermanent /pages/vice_president.html /exec/vice_president
RedirectPermanent /pages/visiting.html /prospective/visiting
RedirectPermanent /pages/water_polo.html /societies/water_polo
RedirectPermanent /pages/webmaster.html /exec/webmaster
RedirectPermanent /pages/welfare.html /welfare
RedirectPermanent /pages/welfare_in_college.html /welfare/welfare_in_college
RedirectPermanent /pages/welfare_request.html /welfare/welfare_request
RedirectPermanent /pages/womens_officer.html /exec/womens_officer
RedirectPermanent /pages/women_rugby.html /societies/women_rugby
RedirectPermanent /pages/room_database/main.html /room_locations